<!DOCTYPE html>
{% load static %}
<html lang=en>
   <head>
      <meta charset=utf-8>
      <meta http-equiv=X-UA-Compatible content="IE=edge">
      <meta name=viewport content="width=device-width,initial-scale=1">
      <link rel=icon href="{% static 'assets/favicon.ico' %}">
      <link rel=stylesheet href="{% static 'bundle.fc1aefc2298adab4f5ec.css' %}">
      <title>statbord</title>
      <link href="{% static 'css/app.d3366f82.css' %}" rel=preload as=style>
      <link href="{% static 'js/app.ca0379ff.js' %}" rel=preload as=script>
      <link href="{% static 'js/chunk-vendors.733f96c6.js' %}" rel=preload as=script>
      <link href="{% static 'css/app.d3366f82.css' %}" rel=stylesheet>
   </head>
   <body>
      
      <noscript><strong>We're sorry but statbord doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript>
      <div id=app></div>
      <script src="{% static 'js/chunk-vendors.733f96c6.js' %}"></script><script src="{% static 'js/app.ca0379ff.js' %}"></script>
   </body>
</html>
